body {font-family: Arial, Helvetica, sans-serif; color: #000000;}
h2,h3,caption {font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 2em;}
h1 {font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 4em;}
body {background-color: #ffffff;}
nav {background-color: #ff731d; font-size: 1em; margin-bottom: 30px; padding: 10px;text-align: center; font-size: 2em;}
nav a {color:#000000; text-decoration: none!important;}
nav a:hover {color: #ffffff;}
footer {font-size: 1em; padding: 2px; font-size: 2em; background-color:#ff731d; text-align: center;}
footer a {text-decoration: none!important; color: #000000;}
footer a:hover {color: #ffffff;}
.welcome {text-align: center;}
.logo {text-align: center;}
.intro {text-align: center;}
.flexbox {display: flex; justify-content: center; margin: 20px; padding: 20px; flex-wrap: wrap; justify-content: space-around;}

@media only screen and (max-width: 2000px) {.flexbox img {width: 100%; height:auto;}}
@media only screen and (max-width: 600px) {.logo img {width: 100%; height:auto;}}


